*{
    margin: 0;
    padding: 0;
}
.container{
    border: 1px solid;
    height: 650px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.navebar{
    border: 1px solid;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}
.navebar h2{
    color: white;
    font-size: 30px;
}
.searcharea{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.searchbar{
    border-radius: 5px;
    margin-right: 5px;
    font-size: 18px;
}
.list{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0px 95px;
}
.links1{
    margin: 0px 30px;
    display: flex;
    flex-wrap: wrap;
    font-size: 23px;

}
.links:hover{
    font-size: 28px;
    background-color: rgb(224, 218, 218);
    color: rgba(0, 0, 0, 1);
    border-radius: 5px;
}
.links{
    color: white;
}
.btn{
    background-color: white;
    color: black;
    margin: 0;
    border-radius: 5px;
    font-size: 18px;
}
.links{
    text-decoration: none;
}
.btn:hover{
    background-color: black;
    color: white;
}
.sec1{
    border: 1px solid;
    height: 380px;
    width: 100%;
    background-color: #346eeb;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.sec1 h1{
    color: white;
    margin-top: 80px;
    margin-left: 90px;
}
.sec1 img{
    height: 250px;
    width: 280px;
    position: absolute;
    right: 110px;
    top: 116px;
    display: flex;
    flex-wrap: wrap;
}
.sec1 p{
    color: white;
    text-align: justify;
    margin-left: 103px;
    margin-top: 25px;
}
button{
    display: flex;
    flex-wrap: wrap;
    padding: 5px 10px;
    color: white;
    background: transparent;
    margin-top: 20px;
    margin-left: 10px;
}
.button{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.hd{
    height: 300px;
    width: 500px;
    text-align: center;
}
button:hover{
    background-color: white;
    cursor: pointer;
    color: black;
}